# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Scritps.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Septimo_Semestre\Simulacion\Primer_Corte\P1T4_Lab4_Trabajo_con_CSharp\Assets\Scritps\.idea\.idea.Scritps.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
